html {
  font-size: 15px;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: $light-gray;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 320px;
}

.row {
  display: flex;

  &--desktop {
    @media (min-width: 900px) {
      display: flex;
      align-items: center;
    }
  }
}
